
/*------------------------------ QENTIREWIDGET ------------------------------*/
QWidget {
    background-color: rgb(67, 45, 67);
}

QWidget:disabled {
    background-color: rgba(50, 50, 50, 0.5); /* Dimmed background */
    color: rgba(200, 200, 200, 0.5); /* Dimmed text color */
    border: 1px solid rgba(100, 100, 100, 0.5); /* Optional: dimmed border */
}
/*
QWidget {
    background-color: rgb(30, 30, 30); 
}
*/

/*------------------------------ QPUSHBUTTON ------------------------------*/
QPushButton {
    background-color: rgb(19, 16, 43);
    border-bottom: rgb(237, 237, 237);
    border-right: rgb(237, 237, 237);
    color: rgb(225, 225, 225);
    border-bottom-style: solid ;
    border-right-style: solid ;
    border-width: 2.5px;
    border-radius: 0px;
    font-family:'Source Code Pro';
    font: medium 8px;
    min-width: 8em;
    padding: 8px;
    font-size: larger;
}

QPushButton:hover {
    color: azure;
    border-width: 2.5px;
    background-size: 50%;
    background-position: left 20px top 20px;
    background-color: black;
    border-color: rgb(105, 28, 28);
}

QPushButton[geoButtons="true"]:hover {
    color: azure;
    border-width: 2.5px;
    background-size: 50%;
    background-position: left 20px top 20px;
    background-color: black;
    border-color: rgb(18, 3, 103);
}

QPushButton:pressed {
    background-color: rgb(137, 137, 137); /* Change background color to indicate it's pressed */
    color: rgb(2, 2, 2); /* Change text color to white for better visibility */
    border-color: rgb(105, 28, 28); /* Optional: change border color */
    border-width: 2.5px; /* Keep the same border width */
    border-style: solid; /* Ensure border style remains solid */
    background-size: 50%; /* Keep the background size if you have a specific style */
     /* Maintain background position if used */
}

QPushButton[geoButtons="true"]:pressed{
    background-color: rgb(137, 137, 137);
    color: rgb(2, 2, 2); 
    border-color: rgb(105, 28, 28);
    border-width: 2.5px; 
    border-style: solid; 
    background-size: 50%; 
}

QPushButton#folderPath_text{
    color:rgb(241, 255, 238) ;
    background-color: rgba(46, 0, 0, 0.375);
    font: 800 ;
    min-width: 12em;
    max-height: 1.5em;
}

QPushButton#folderPath_btn{
    max-width: 0.5px;
}

QPushButton[bind_style="true"]:hover{
    background-color: black;
    border-color: rgb(54, 90, 50);

}

QPushButton[unbind_style="true"]:hover{
    background-color: black;
    border-color: rgb(180, 0, 0);
}

/*
QPushButton:disabled {
    background-color: rgba(19, 16, 43, 0.5); 
    color: rgba(225, 225, 225, 0.5); 
    border: 2px solid rgba(237, 237, 237, 0.5); 
}
*/
/*------------------------------ QLABEL ------------------------------*/
/*
QLabel {
    color:rgb(232, 228, 255) ;
    background-color: rgb(19, 16, 43);
    border-style: outset;
    border-width: 2px;
    border-radius: 2px;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}
*/

QLabel#jointTree_lbl{
    color:rgb(239, 239, 239);
    background-color: rgba(48, 0, 0, 0.5);
    font: 800;
    border-style: double;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(5, 0, 42);
    min-width: 3.8em;
    max-height: 1em;
    padding: 6px;
}

QLabel#geoTree_lbl{
    color:rgb(239, 239, 239) ; /**/
    background-color: rgba(35, 34, 41, 0.5);
    font: 800;
    border-style: double;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(5, 0, 42);
    min-width: 3.8em;
    max-height: 1em;
    padding: 6px;
}


QLabel[DB_export_UI_01="true"]{
    color:rgb(241, 255, 238) ;
    background-color: rgba(0, 0, 0, 0.297);
    font:bolder 800 ;
    min-width: 3.8em;
    max-height: 1em;
    padding: 6px;
}

QLabel[DB_export_UI_02="true"]{
    color:rgb(241, 255, 238) ;
    font-size:xx-large;
    font:italic ;
    min-width: 1.5em;
    padding: 1px;
}

/*------------------------------ QTEXTEDIT ------------------------------*/

QLineEdit[DB_export_UI_01="true"]{
    color:rgb(241, 255, 238) ;
    background-color: rgba(46, 0, 0, 0.375);
    font: 800 ;
    min-width: 12em;
    max-height: 1.5em;
}

/*------------------------------ QTREEVIEW ------------------------------*/
QTreeView {
    color: rgb(239, 239, 239);
    background-color: rgb(44, 44, 45);
    border-style: double;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(5, 0, 42);
    font: medium 8px;
    min-width: 10em;
    padding: 15px;
}

QHeaderView::selection {
    background-color: #d20000;
    color: #0d00ff;
    padding: 3px;
    border-radius: 0px;
}

QTreeView#joint_tree_view {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 0, 0);
    border-color: rgb(5, 0, 42);
}

QTreeView#geo_tree_view {
    color: rgb(239, 239, 239);
    background-color: rgb(35, 34, 41);
    border-style: double;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(5, 0, 42);
    font: medium 8px;
    min-width: 10em;
    padding: 15px;
}

QTreeView#joint_tree_view::item:selected:active{
    color:white;
    background-color: black;
    border-color:rgb(105, 28, 28)  
}

QTreeView#geo_tree_view::item:selected:active{
    /*; border-radius: 5px;*/
    color:white;
    background-color: black;
    border-width: 2.5px;
    border-color:rgb(105, 28, 28)
}

/*------------------------------ QVOMBOBOX ------------------------------*/
QComboBox {
    border: none;
    background-color: rgb(19, 16, 43);
    border-bottom: 2px solid rgb(255, 255, 255); /* Adjusted contrast */
    color: rgb(225, 225, 225);
}

/*------------------------------ QObjectWidgets ------------------------------*/

QWidget#main_layout {
    color: CRIMSON;
}

QWidget#Spacer {
    background-color: rgb(100, 100, 100);
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: rgb(27, 7, 7)
}


/*------------------------------ QGROUPBOX ------------------------------*/

QGroupBox {
    color:rgb(44, 3, 3);
    background-color: rgb(255, 226, 63);
    
    /*border-radius: 1px;*/
}

/*------------------------------ QSCROLLBAR ------------------------------*/

QScrollBar:vertical {
    width: 10px;
}

QScrollBar:horizontal {
    height: 10px;
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background: #666;
    border-radius: 0px;
    min-height: 20px;
}

/*------------------------------ QTOOLTIP ------------------------------*/
QToolTip {
    background-color: rgba(0, 0, 0, 0.733);
    color:white;
    font-family:'Lucida Sans Unicode'; /*'Lucida Grande' ,, Tahoma, Geneva, Verdana, sans-serif, 'ource Code Pro',  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif*/
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px; 
}